@{
    ViewBag.Title = "Не успешно";
}

<html>
<body>
    <div class="container-fluid px-5 py-5">
        <h2 class="fs-1" style="color: #d63384 !important;">@ViewBag.errors</h2>
    </div>
</body>
</html>