@model Website.Models.ProjectsViewModel

@{
    ViewData["Title"] = "Projects";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Masthead-->
    <header class="masthead-project p-3 p-md-4 p-lg-5">
        <div class="container px-4 px-lg-5 d-flex align-items-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h2 class="text-white text-uppercase mx-auto my-4">Проекты</h2>
                </div>
            </div>
        </div>
        <div class="container px-4 px-lg-5 d-flex align-items-center">
            <form class="mt-2 mb-5 ms-auto me-4" method="get" asp-controller="Projects" asp-action="AddNewItem">
                <div>
                    <input class="btn btn-info" id="add" name="add" type="submit" placeholder="Добавить проект" value="Добавить проект" />
                </div>
            </form>
        </div>

        <div class="container container-1 px-4 px-lg-5 pb-4">
            @foreach (var proj in Model.Projects)
            {
                <div class="container-2">
                    <div class="container-3">
                        <img src=@("/assets/img/"+proj.ImageId) width="180">
                    </div>
                    <div class="container-3 small text-black mb-2">
                        @proj.Name
                    </div>
                    <div class="container-3 mb-2">
                        <div class="d-flex flex-row">
                            <form class="col-6" method="get" asp-controller="Projects" asp-action="EditItemId">
                                <button class="btn btn-link nav-link pt-0 pb-0 ms-auto me-2" type="submit"> @*style="box-shadow: none !important;"*@
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                    </svg>
                                </button>
                                <input type="hidden" name="id" value=@proj.Id>
                            </form>
                            <form class="col-6" method="get" asp-controller="Projects" asp-action="DeleteItemId">
                                <button class="btn btn-link nav-link pt-0 pb-0 ms-2 me-auto" > @*style="box-shadow: none !important;" type="submit"*@
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg>
                                </button>
                                <input type="hidden" name="id" value=@proj.Id>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </header>
</body>
</html>

